In [1]:
import pandas as pd
import numpy as np
import os
import csv

In [2]:
dir = 'submissions/'
N = 120000
scores = []
with open('scores.csv', newline='') as csvfile:
    scoreFile = csv.reader(csvfile, delimiter=',')
    next(scoreFile)
    for line in scoreFile:
        scores.append(float(line[1]))

In [3]:
subs = pd.DataFrame()

for filename in os.listdir(dir):
    with open(os.path.join(dir, filename), 'r') as f:
        data = pd.read_csv(f, header=None, skiprows=1)
        subs = pd.concat([subs, data.iloc[:, 1]], axis=1)
        ids = data.iloc[:, 0]
        print(filename)

dtSuggestions.csv
gbtSuggestions.csv
gbt_tuned_Suggestions.csv
matrixFact_10.csv
matrixFact_20.csv
rfSuggestions.csv
rf_tuned_Suggestions.csv
userSuggestions_00.csv
userSuggestions_02.csv
userSuggestions_03.csv
userSuggestions_04.csv
userSuggestions_05.csv
userSuggestions_06.csv
weightAvg_logit_Suggestions.csv

In [4]:
subs

        1  1  1  1  1  1  1  1  1  1  1  1  1  1
0       1  0  0  1  1  0  0  0  0  0  0  0  0  1
1       1  1  1  1  0  1  1  1  1  1  1  1  1  0
2       0  0  0  0  0  0  0  0  0  0  0  0  0  1
3       0  0  0  0  0  0  0  0  0  0  0  0  0  0
4       0  1  1  0  1  1  1  1  1  1  1  1  1  1
...    .. .. .. .. .. .. .. .. .. .. .. .. .. ..
119995  0  0  0  0  1  0  0  0  0  0  0  0  0  0
119996  0  0  0  0  1  0  0  0  0  0  0  0  0  0
119997  1  1  1  1  0  1  1  1  1  1  1  1  1  1
119998  0  0  0  0  0  0  0  0  0  0  0  0  0  0
119999  1  1  1  1  1  1  1  1  1  1  1  1  1  1

[120000 rows x 14 columns]

In [5]:
scores

[0.79525,
 0.8438,
 0.8438,
 0.66494,
 0.67606,
 0.8438,
 0.86694,
 0.86891,
 0.86691,
 0.86911,
 0.86933,
 0.86933,
 0.86936,
 0.78016]

In [6]:
subs = subs.replace(0, -1)

In [7]:
subs_t = subs.transpose(copy=True)
subs_t

,0,1,2,3,4,5,6,7,8,9,...,119990,119991,119992,119993,119994,119995,119996,119997,119998,119999
1,1,1,-1,-1,-1,1,-1,1,1,-1,...,-1,1,-1,-1,1,-1,-1,1,-1,1
1,-1,1,-1,-1,1,1,-1,1,1,-1,...,-1,1,-1,-1,1,-1,-1,1,-1,1
1,-1,1,-1,-1,1,1,-1,1,1,-1,...,-1,1,-1,-1,1,-1,-1,1,-1,1
1,1,1,-1,-1,-1,1,-1,1,1,-1,...,1,-1,1,1,1,-1,-1,1,-1,1
1,1,-1,-1,-1,1,1,1,1,-1,1,...,1,1,1,-1,-1,1,1,-1,-1,1
1,-1,1,-1,-1,1,1,-1,1,1,-1,...,-1,1,-1,-1,1,-1,-1,1,-1,1
1,-1,1,-1,-1,1,1,-1,1,1,-1,...,-1,1,-1,-1,1,-1,-1,1,-1,1
1,-1,1,-1,-1,1,1,-1,1,1,-1,...,-1,1,-1,-1,1,-1,-1,1,-1,1
1,-1,1,-1,-1,1,1,-1,1,1,-1,...,-1,1,-1,-1,1,-1,-1,1,-1,1
1,-1,1,-1,-1,1,1,-1,1,1,-1,...,-1,1,-1,-1,1,-1,-1,1,-1,1
1,-1,1,-1,-1,1,1,-1,1,1,-1,...,-1,1,-1,-1,1,-1,-1,1,-1,1
1,-1,1,-1,-1,1,1,-1,1,1,-1,...,-1,1,-1,-1,1,-1,-1,1,-1,1
1,-1,1,-1,-1,1,1,-1,1,1,-1,...,-1,1,-1,-1,1,-1,-1,1,-1,1
1,1,-1,1,-1,1,-1,-1,1,1,-1,...,-1,1,-1,-1,1,-1,-1,1,-1,1

In [8]:
subs.to_numpy()
subs_t.to_numpy()
product = np.dot(subs_t, subs)
product
new = np.linalg.pinv(product)
new

array([[ 2.41305816e-05, -3.71983765e-06, -3.71983765e-06,
        -2.04389122e-07, -2.37765428e-07, -1.20625933e-05,
        -3.71983765e-06,  1.85954028e-06,  6.29935402e-06,
         8.59529067e-06, -1.62371559e-06, -1.53751253e-05,
         2.68033641e-06,  1.84986874e-06],
       [-3.71983765e-06,  8.19061703e-06,  8.19061703e-06,
        -1.32204197e-07, -1.52935834e-07, -1.39916300e-05,
         8.19061703e-06,  6.57883081e-08, -1.20275671e-05,
         3.88701049e-06,  7.89662433e-07,  1.73152732e-06,
        -7.62300268e-07,  4.78839783e-07],
       [-3.71983765e-06,  8.19061703e-06,  8.19061703e-06,
        -1.32204197e-07, -1.52935834e-07, -1.39916300e-05,
         8.19061703e-06,  6.57883082e-08, -1.20275671e-05,
         3.88701049e-06,  7.89662432e-07,  1.73152732e-06,
        -7.62300267e-07,  4.78839783e-07],
       [-2.04389122e-07, -1.32204197e-07, -1.32204197e-07,
         9.81310763e-06, -2.69818087e-06,  2.07173170e-08,
        -1.32204197e-07,  1.36948903e-07, -2.32426838e-07,
        -7.15605173e-07, -8.85178416e-07,  8.31346791e-07,
        -3.91565474e-07, -3.24545871e-07],
       [-2.37765428e-07, -1.52935834e-07, -1.52935834e-07,
        -2.69818087e-06,  9.92495353e-06,  3.38400709e-07,
        -1.52935834e-07,  9.70439231e-07, -8.79189998e-07,
        -9.79130661e-07, -5.45397877e-07,  1.32075454e-07,
        -3.66790568e-07, -4.26954908e-07],
       [-1.20625933e-05, -1.39916300e-05, -1.39916300e-05,
         2.07173170e-08,  3.38400709e-07,  5.49517136e-04,
        -1.39916300e-05,  1.11529193e-05, -3.00444563e-04,
        -1.11717913e-04,  4.77879663e-05, -7.47074610e-05,
        -6.92670171e-05, -8.90166972e-07],
       [-3.71983765e-06,  8.19061703e-06,  8.19061703e-06,
        -1.32204197e-07, -1.52935834e-07, -1.39916300e-05,
         8.19061703e-06,  6.57883082e-08, -1.20275671e-05,
         3.88701049e-06,  7.89662433e-07,  1.73152732e-06,
        -7.62300269e-07,  4.78839783e-07],
       [ 1.85954028e-06,  6.57883081e-08,  6.57883081e-08,
         1.36948903e-07,  9.70439231e-07,  1.11529193e-05,
         6.57883081e-08,  3.34380837e-03, -5.22018107e-04,
        -2.85766246e-03, -1.12844112e-05, -3.24896475e-06,
         3.87595089e-05, -2.00454582e-06],
       [ 6.29935402e-06, -1.20275671e-05, -1.20275671e-05,
        -2.32426838e-07, -8.79189998e-07, -3.00444563e-04,
        -1.20275671e-05, -5.22018107e-04,  7.46687062e-04,
         6.96620409e-05, -1.64166621e-05,  5.07541565e-05,
         3.28705007e-06, -1.51309150e-07],
       [ 8.59529067e-06,  3.88701049e-06,  3.88701049e-06,
        -7.15605173e-07, -9.79130661e-07, -1.11717913e-04,
         3.88701049e-06, -2.85766246e-03,  6.96620409e-05,
         1.04029133e-02, -4.10532011e-03, -4.95809102e-03,
         1.53848975e-03,  2.62700657e-06],
       [-1.62371559e-06,  7.89662433e-07,  7.89662432e-07,
        -8.85178416e-07, -5.45397877e-07,  4.77879663e-05,
         7.89662433e-07, -1.12844112e-05, -1.64166621e-05,
        -4.10532011e-03,  6.87045172e-03,  2.52710176e-03,
        -5.30330796e-03, -9.43445651e-06],
       [-1.53751253e-05,  1.73152732e-06,  1.73152732e-06,
         8.31346791e-07,  1.32075454e-07, -7.47074610e-05,
         1.73152732e-06, -3.24896475e-06,  5.07541565e-05,
        -4.95809102e-03,  2.52710176e-03,  1.22333894e-02,
        -9.76539207e-03, -7.17294202e-07],
       [ 2.68033641e-06, -7.62300268e-07, -7.62300268e-07,
        -3.91565474e-07, -3.66790568e-07, -6.92670171e-05,
        -7.62300268e-07,  3.87595089e-05,  3.28705007e-06,
         1.53848975e-03, -5.30330796e-03, -9.76539207e-03,
         1.35582235e-02, -1.08344675e-06],
       [ 1.84986874e-06,  4.78839783e-07,  4.78839783e-07,
        -3.24545871e-07, -4.26954908e-07, -8.90166972e-07,
         4.78839783e-07, -2.00454582e-06, -1.51309150e-07,
         2.62700657e-06, -9.43445651e-06, -7.17294202e-07,
        -1.08344675e-06,  1.42762611e-05]])

In [9]:
subs_tx = []
for score in scores:
    subs_tx.append(N*(2*score -1))
subs_tx

[70860.0,
 82512.0,
 82512.0,
 39585.59999999999,
 42254.4,
 82512.0,
 88065.6,
 88538.4,
 88058.4,
 88586.40000000001,
 88639.20000000001,
 88639.20000000001,
 88646.40000000001,
 67238.4]

In [10]:
a_LS = np.dot(np.asarray(subs_tx), new)
a_LS

array([ 0.09099294,  0.12232955,  0.12232955,  0.09517545,  0.10883585,
       -2.9911556 ,  0.12232955,  0.06530882,  1.59507667,  0.16786058,
        0.08764201,  0.82825971,  0.39840837,  0.15387351])

In [11]:
subs

        1  1  1  1  1  1  1  1  1  1  1  1  1  1
0       1 -1 -1  1  1 -1 -1 -1 -1 -1 -1 -1 -1  1
1       1  1  1  1 -1  1  1  1  1  1  1  1  1 -1
2      -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1
3      -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
4      -1  1  1 -1  1  1  1  1  1  1  1  1  1  1
...    .. .. .. .. .. .. .. .. .. .. .. .. .. ..
119995 -1 -1 -1 -1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1
119996 -1 -1 -1 -1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1
119997  1  1  1  1 -1  1  1  1  1  1  1  1  1  1
119998 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
119999  1  1  1  1  1  1  1  1  1  1  1  1  1  1

[120000 rows x 14 columns]

In [12]:
subs = subs.multiply(a_LS, axis=1)
subs

,1,1,1,1,1,1,1,1,1,1,1,1,1,1
0,0.090993,-0.12233,-0.12233,0.095175,0.108836,2.991156,-0.12233,-0.065309,-1.595077,-0.167861,-0.087642,-0.82826,-0.398408,0.153874
1,0.090993,0.12233,0.12233,0.095175,-0.108836,-2.991156,0.12233,0.065309,1.595077,0.167861,0.087642,0.82826,0.398408,-0.153874
2,-0.090993,-0.12233,-0.12233,-0.095175,-0.108836,2.991156,-0.12233,-0.065309,-1.595077,-0.167861,-0.087642,-0.82826,-0.398408,0.153874
3,-0.090993,-0.12233,-0.12233,-0.095175,-0.108836,2.991156,-0.12233,-0.065309,-1.595077,-0.167861,-0.087642,-0.82826,-0.398408,-0.153874
4,-0.090993,0.12233,0.12233,-0.095175,0.108836,-2.991156,0.12233,0.065309,1.595077,0.167861,0.087642,0.82826,0.398408,0.153874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,-0.090993,-0.12233,-0.12233,-0.095175,0.108836,2.991156,-0.12233,-0.065309,-1.595077,-0.167861,-0.087642,-0.82826,-0.398408,-0.153874
119996,-0.090993,-0.12233,-0.12233,-0.095175,0.108836,2.991156,-0.12233,-0.065309,-1.595077,-0.167861,-0.087642,-0.82826,-0.398408,-0.153874
119997,0.090993,0.12233,0.12233,0.095175,-0.108836,-2.991156,0.12233,0.065309,1.595077,0.167861,0.087642,0.82826,0.398408,0.153874
119998,-0.090993,-0.12233,-0.12233,-0.095175,-0.108836,2.991156,-0.12233,-0.065309,-1.595077,-0.167861,-0.087642,-0.82826,-0.398408,-0.153874
119999,0.090993,0.12233,0.12233,0.095175,0.108836,-2.991156,0.12233,0.065309,1.595077,0.167861,0.087642,0.82826,0.398408,0.153874

In [13]:
subs = subs.sum(axis=1)
subs

0        -0.069511
1         0.441848
2        -0.659520
3        -0.967267
4         0.594930
            ...
119995   -0.749595
119996   -0.749595
119997    0.749595
119998   -0.967267
119999    0.967267
Length: 120000, dtype: float64

In [14]:
s_ensem = pd.concat([ids, subs], axis=1)
s_ensem

                    0         0
0       199810_208019 -0.069511
1        199810_74139  0.441848
2         199810_9903 -0.659520
3       199810_242681 -0.967267
4        199810_18515  0.594930
...               ...       ...
119995   249010_72192 -0.749595
119996   249010_86104 -0.749595
119997  249010_186634  0.749595
119998  249010_293818 -0.967267
119999  249010_262811  0.967267

[120000 rows x 2 columns]

In [39]:
for index in range(0, len(s_ensem), 6):
    user_set = s_ensem.iloc[index:index+6]
    user_set.columns = ['id','score']
    user_set.sort_values(by=['score'])
    print(user_set)
    print('\n')
    
    if(index > 0):
        break

              id     score
0  199810_208019 -0.069511
1   199810_74139  0.441848
2    199810_9903 -0.659520
3  199810_242681 -0.967267
4   199810_18515  0.594930
5  199810_105760  0.659520


               id     score
6   199812_276940 -0.749595
7   199812_142408  0.967267
8   199812_130023  0.749595
9    199812_29189 -0.749595
10  199812_223706  0.559244
11  199812_211361 -0.776916